# Introduction to Scikit-Learn (sklearn)

What we're going to cover:

0. An end-to-end scikit-learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together

## 0. An end-to-end Scikit-Learn workflow

In [1]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# create x (features matrix)
x = heart_disease.drop("target", axis=1)

# create y (labels)
y = heart_disease["target"]

In [7]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [8]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [10]:
clf.fit(x_train, y_train);

In [12]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
107,45,0,0,138,236,0,0,152,1,0.2,1,0,2
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
191,58,1,0,128,216,0,0,131,1,2.2,1,3,3
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
64,58,1,2,140,211,1,0,165,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3
112,64,0,2,140,313,0,1,133,0,0.2,2,0,3
103,42,1,2,120,240,1,1,194,0,0.8,0,0,3
114,55,1,1,130,262,0,1,155,0,0.0,2,0,2

In [30]:
# make a prediction
import numpy as np
y_label = clf.predict(np.array([0,2,3,4]))

c:\ml-courses-pratice\env\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [13]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
225,70,1,0,145,174,0,1,125,1,2.6,0,0,3
243,57,1,0,152,274,0,1,88,1,1.2,1,1,3
194,60,1,2,140,185,0,0,155,0,3.0,1,0,2
229,64,1,2,125,309,0,1,131,1,1.8,1,0,3
128,52,0,2,136,196,0,0,169,0,0.1,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,52,1,1,128,205,1,1,184,0,0.0,2,0,2
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
192,54,1,0,120,188,0,1,113,0,1.4,1,1,3
267,49,1,2,118,149,0,0,126,0,0.8,2,3,2
66,51,1,2,100,222,0,1,143,1,1.2,1,0,2

In [14]:
y_preds = clf.predict(x_test)
y_preds

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1], dtype=int64)

In [15]:
y_test

225    0
243    0
194    0
229    0
128    1
      ..
78     1
301    0
192    0
267    0
66     1
Name: target, Length: 61, dtype: int64

In [17]:
# 4. evaluate the model on the traning data and test data
clf.score(x_train, y_train)

1.0

In [18]:
clf.score(x_test,y_test)

0.7868852459016393

In [19]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.80      0.77      0.79        31
           1       0.77      0.80      0.79        30

    accuracy                           0.79        61
   macro avg       0.79      0.79      0.79        61
weighted avg       0.79      0.79      0.79        61

In [20]:
confusion_matrix(y_test, y_preds)

array([[24,  7],
       [ 6, 24]], dtype=int64)

In [21]:
accuracy_score(y_test, y_preds)

0.7868852459016393

In [26]:
# 5. Improve a model
# try different amount of n_estimators
import numpy as np
np.random.seed(42)
for i in range(10,100,10):
    print(f"trying model with {i} estimators...");
    clf =RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%");
    print("");

trying model with 10 estimators...
Model accuracy on test set: 80.33%

trying model with 20 estimators...
Model accuracy on test set: 81.97%

trying model with 30 estimators...
Model accuracy on test set: 81.97%

trying model with 40 estimators...
Model accuracy on test set: 77.05%

trying model with 50 estimators...
Model accuracy on test set: 80.33%

trying model with 60 estimators...
Model accuracy on test set: 78.69%

trying model with 70 estimators...
Model accuracy on test set: 78.69%

trying model with 80 estimators...
Model accuracy on test set: 78.69%

trying model with 90 estimators...
Model accuracy on test set: 78.69%

In [27]:
# 6. Save a model and load it
# wb: write binary
import pickle
pickle.dump(clf, open("random_forst_model_1.pkl","wb"))

In [28]:
# rb: read binary
loaded_model = pickle.load(open("random_forst_model_1.pkl","rb"))
loaded_model.score(x_test, y_test)

0.7868852459016393